@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    padding: 0px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    /*background: linear-gradient(to bottom, #2a5f61, #EAECC6);*/
    height: 100vh;
}

/*.izquierda{
    overflow: hidden;
}*/

/*.izquierda img{
    height: 415px;
    width: 560px;
}*/

 .izquierda img:hover {
    transform:scale(1.2);
    -ms-transform:scale(1.2); 
    -moz-transform:scale(1.2); 
    -webkit-transform:scale(1.2); 
    -o-transform:scale(1.2);
}

.contenedor-producto{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    /*margin-left: 330px;
    margin-right: 330px;*/
}

.derecha{
    padding-left: 100px;
    width: 460px;
}


.derecha h1{
    margin: 0;
}

.informacion-producto{
    margin-top: 30px;
}

.main-button-producto{
    background-image: linear-gradient(to right, #25D366 51%,#8fd3f4 100%);
    border: none;
    background-size: 200% auto;
    box-shadow: 0px 0px 20px #eee;
    transition: 0.5s;
    border-radius: 10px;
    padding: 10px;
    font-size: 13px ;
    cursor: pointer;
    outline: none;
    margin-top: 170px;
    color: white;
}

.main-button-producto:hover {
    background-position: right center;
    transform: scale(1.1);
}

.boton-producto button{
    margin-left: 5px;
    width: 280px;
    height: 55px;
}

.boton-producto:hover {
    background-position: right center;
    transform: scale(1.01);
}

.elementos{
    display: flex;
    padding-left: 85px;
    margin-top: -7px;
    margin-left: -17px;
}

.elementos img{
    height: 35px;
    width: 35px;
    margin-top: 8px;
}

.elementos p{
    padding-top: 2px;
    font-size: 15px;
    padding-left: 5px;
    letter-spacing: 2px;
}

/***********************************************************FOOTER*******************************************************/

.pie-pagina {
    background-color: #2a5f61;
}

.listas-footer {
    background-color: #2a5f61;
    display: flex;
    justify-content: center;
    margin-top: 300px;
    font-family:Arial, Helvetica, sans-serif;
}

.listas-footer li {
    padding-top: 10px;
}

.ayuda {
    font-style:italic;
    color: white;
    list-style: none;
    text-align: center;
}

.ayuda a {
    color: white;
    text-decoration: none;
}

.informacion {
    color: white;
    list-style: none;
    text-align: center;
}

.informacion a {
    color: white;
    text-decoration: none;
}

.iconos {
    justify-content: center;
    text-align: center;
    padding-left: 35px; 
}

.iconos img {
    margin: 10px;
}

.fb {
    width: 30px;
    height: 30px;
}

.wh {
    width: 30px;
    height: 30px;
}

.ig {
    width: 30px;
    height: 30px;
}

/***************************************ESTILOS SLIDER DE IMAGEN ESTILOS SLIDER DE IMAGEN ESTILOS SLIDER DE IMAGEN**************************/

.slider{
    position: relative;
    width: 460px;
    overflow: hidden;
}

.images-slider{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.images-slider img{
    height: 415px;
    width: 460px;
    transition: all 0.15s ease;
}

.images-slider input{
    display: none;
}

.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #152f30 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}

.dots label:hover {
    background-color: #2a5f61;
}

#img1:checked ~ .m1{
    margin-right: 0;
}

#img2:checked ~ .m2{
    margin-left: -100%;
}

#img3:checked ~ .m3{
    margin-left: -200%;
}

#img4:checked ~ .m4{
    margin-left: -300%;
}

.dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #8fd3f4 1px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 10px;
}

.dots label:hover {
    background-image: linear-gradient(to right, #A8E6CE 51%,#8fd3f4 100%);
    background-position: right center;
    transform: scale(1.2);
}